--
-- PostgreSQL database dump
--

\restrict bjmbNDYAceUG7m5BCwtXkLXZLgK4myJYUqiBzi4Uq87vCEtV3ARzJ7l4zCehbhl

-- Dumped from database version 18.6
-- Dumped by pg_dump version 18.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: warehouses; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.warehouses (id, name, address, created_at) FROM stdin;
1	Main Warehouse	Hyderabad	2026-09-26 11:38:56.745745+05:30
2	Production Warehouse	Hyderabad	2026-09-26 11:38:56.745745+05:30
\.


--
-- Data for Name: locations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.locations (id, warehouse_id, name, created_at) FROM stdin;
1	1	Main Store	2026-09-26 11:39:04.308581+05:30
2	1	Rack A	2026-09-26 11:39:04.308581+05:30
3	1	Rack B	2026-09-26 11:39:04.308581+05:30
4	2	Production Floor	2026-09-26 11:39:04.308581+05:30
\.


--
-- Data for Name: adjustments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.adjustments (id, location_id, status, created_at) FROM stdin;
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.categories (id, name, created_at) FROM stdin;
1	Raw Materials	2026-09-26 11:38:41.287161+05:30
2	Finished Goods	2026-09-26 11:38:41.287161+05:30
3	Components	2026-09-26 11:38:41.287161+05:30
\.


--
-- Data for Name: units_of_measure; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.units_of_measure (id, name, code) FROM stdin;
1	Pieces	PCS
2	Kilograms	KG
3	Litres	L
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.products (id, name, sku, category_id, unit_id, created_at, updated_at) FROM stdin;
1	Steel Rod	STL001	1	2	2026-09-26 11:39:12.716953+05:30	2026-09-26 11:39:12.716953+05:30
2	Office Chair	CHR001	2	1	2026-09-26 11:39:12.716953+05:30	2026-09-26 11:39:12.716953+05:30
3	Copper Wire	COP001	1	2	2026-09-26 11:39:12.716953+05:30	2026-09-26 11:39:12.716953+05:30
\.


--
-- Data for Name: adjustment_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.adjustment_items (id, adjustment_id, product_id, counted_quantity) FROM stdin;
\.


--
-- Data for Name: deliveries; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.deliveries (id, warehouse_id, status, created_at) FROM stdin;
\.


--
-- Data for Name: delivery_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.delivery_items (id, delivery_id, product_id, location_id, quantity) FROM stdin;
\.


--
-- Data for Name: receipts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.receipts (id, supplier_name, warehouse_id, status, created_at) FROM stdin;
1	ABC Steel Suppliers	1	DONE	2026-09-26 11:42:33.518702+05:30
\.


--
-- Data for Name: receipt_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.receipt_items (id, receipt_id, product_id, location_id, quantity) FROM stdin;
1	1	1	1	50.000
\.


--
-- Data for Name: stock; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stock (id, product_id, location_id, quantity) FROM stdin;
2	1	2	25.000
3	2	1	50.000
1	1	1	150.000
\.


--
-- Data for Name: stock_ledger; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stock_ledger (id, product_id, location_id, quantity_change, movement_type, reference_type, reference_id, created_at) FROM stdin;
1	1	1	50.000	RECEIPT	RECEIPT	1	2026-09-26 11:42:58.861486+05:30
4	1	2	25.000	ADJUSTMENT	OPENING_BALANCE	\N	2026-09-26 11:47:47.699033+05:30
5	2	1	50.000	ADJUSTMENT	OPENING_BALANCE	\N	2026-09-26 11:47:47.699033+05:30
9	1	1	100.000	ADJUSTMENT	OPENING_BALANCE	\N	2026-09-26 11:51:25.771241+05:30
\.


--
-- Data for Name: transfers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.transfers (id, from_location_id, to_location_id, status, created_at) FROM stdin;
\.


--
-- Data for Name: transfer_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.transfer_items (id, transfer_id, product_id, quantity) FROM stdin;
\.


--
-- Name: adjustment_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.adjustment_items_id_seq', 1, false);


--
-- Name: adjustments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.adjustments_id_seq', 1, false);


--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.categories_id_seq', 3, true);


--
-- Name: deliveries_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.deliveries_id_seq', 1, false);


--
-- Name: delivery_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.delivery_items_id_seq', 1, false);


--
-- Name: locations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.locations_id_seq', 4, true);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_id_seq', 3, true);


--
-- Name: receipt_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.receipt_items_id_seq', 1, true);


--
-- Name: receipts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.receipts_id_seq', 1, true);


--
-- Name: stock_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stock_id_seq', 3, true);


--
-- Name: stock_ledger_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stock_ledger_id_seq', 9, true);


--
-- Name: transfer_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.transfer_items_id_seq', 1, false);


--
-- Name: transfers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.transfers_id_seq', 1, false);


--
-- Name: units_of_measure_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.units_of_measure_id_seq', 3, true);


--
-- Name: warehouses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.warehouses_id_seq', 2, true);


--
-- PostgreSQL database dump complete
--

\unrestrict bjmbNDYAceUG7m5BCwtXkLXZLgK4myJYUqiBzi4Uq87vCEtV3ARzJ7l4zCehbhl

